{% extends 'index.html' %}
{% block content %}
<main id="main">
<section class="breadcrumbs">
    <div class="container">
          <div class="d-flex justify-content-between align-items-center">
          <h2>Room</h2>
          </ol>
          </div>
    </div>

</main>
<div class="hero">
    <!-- <div class="hero-body">
        <h1 class="title has-text-centered has-text-white">{{ room.name }}</h1>
    </div> -->
</div>

<section class="section has-text-white">
    <div class="columns is-multiline">
        <div class="row">

            <div class="col-md-6 col-sm-12 mx-auto">
                
                <div class='bg-dark text-light d-flex align-items-center p-0'>
                    <h5 class="ml-2">{{room.invite.Destination}}-{{room.invite.Location}}</h5>
                </div>

                <div class="jumbotron">
                    <div class="box messages" id="chat-messages">
                        
                        {% for m in messages %}
                            {% if m.user.id == request.user.id%}
                                <p class="left"><b class="text-uppercase">{{ m.user.username }}</b>: {{ m.content }}</p>
                            {% else %}
                                <p class="right">{{ m.content }}<b class="text-uppercase"> :{{ m.user.username }}</b> </p>
                            {% endif %}
                        {% endfor %}
                        <!-- Messages will be displayed here... -->
                    </div>
                </div>
       
                <div class="">
                    <form method="post" action=".">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                <!-- {% for m in messages %}<b>{{ m.user.username }}</b>: {{ m.content }}<br>{% endfor %} -->
                                <input type="text" name="content" id="chat-message-input" class="form-control" placeholder="Your message...">
                                
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="btn btn-success" id="chat-message-submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                          
            </div>
            </div>
        </div>



</div>
<!-- </div> -->
{% endblock content %}

{% block scripts %}

{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);

    const chatSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/'
    + roomName
    + '/'
);

chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);

    if (data.message) {
        document.querySelector('#chat-messages').innerHTML += ('<p class="left"><b class="text-uppercase">' + data.username + '</b>: ' + data.message + '</p>');
    } else {
        alert('The message was empty!');
    }

    scrollToBottom();
};

chatSocket.onclose = function(e) {
    console.error('The socket closed unexpectedly');
};

document.querySelector('#chat-message-input').focus();
document.querySelector('#chat-message-input').onkeyup = function(e) {
    if (e.keyCode === 13) {
        document.querySelector('#chat-message-submit').click();
    }
};

document.querySelector('#chat-message-submit').onclick = function(e) {
    e.preventDefault();

    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;

    chatSocket.send(JSON.stringify({
        'message': message,
        'username': userName,
        'room': roomName
    }));

    messageInputDom.value = '';

    return false;
};

function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();

</script>

{% endblock scripts %}